h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    margin: 20px auto;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 10px auto;
}

.header > a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 10px auto 10px auto;
}

.header > form {
    display: flex;
    align-items: baseline;
    margin: 10px auto 20px auto;
}

b {
    font-weight: 800;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.commands {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: baseline;
}

#input-form {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#input-number {
    width: 50px;
}

.flash-messages {
    margin-top: 20px;
}

.ads {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2px;
}

.ad {
    display: flex;
    flex-direction: column;
    border: #000 1px solid;
    margin: 5px 0;
    padding: 5px;
}

.ad__name {
    margin-top: auto;
}

.ad-buttons {
    display: flex;
    justify-content: space-around;
}

.post-form {
    display: grid;
    flex-direction: column;
    align-items: center;
}

.post-form__item {
    margin: 0 auto;
}

.post-form textarea {
    width: 600px;
    height: 200px;
}

.post-form input {
    width: 600px;
}

.post-form__button > input {
    width: 200px;
    height: 50px;
    font-size: 20px;
}

.detailed-ad {
    display: grid;
    grid-template-columns: 100px 500px;
    grid-gap: 30px;
    width: 600px;
    margin: 0 auto 0 auto;
}

.nav-pages {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.nav-pages:last-child {
    margin-bottom: 50px;
}

.alert-for-new-form {
    margin-bottom: 20px;
}